// COLORS
$color-primary: #01c3a7;
$color-tab-gray: #b4b4b4;
$color-card-text: #28b485;
$color-cards-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
$font-primary: Raleway, sans-serif;
